.next_button_margin_top{
    margin-top: 70px !important;
}

.margin_bottom_profile{
    margin-bottom: 90px !important;
}


@media (min-width: 425px) and (max-width: 768px) {
    .next_button_margin_top{
        margin-top: 70px !important;
    }
    
    .margin_bottom_profile{
        margin-bottom: 70px !important;
    }
}

@media (min-width: 321px) and (max-width: 424px) {
    .next_button_margin_top{
        margin-top: 20px !important;
    }
    
    .margin_bottom_profile{
        margin-bottom: 20px !important;
    }
}