.main_div {
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 52px;
}

.text_div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.back_btn_screen4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 5px;
}

.create_account_text {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    line-height: 63px;
    margin-top: 0px !important;

}

.create_account_description {
    text-align: center;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
}

.opt_div1 {
    padding: 0px 0px !important;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.signup_emailorphone {
    gap: 32px;
    width: 30em;
    height: 3.25em;
    border-radius: 25px;
    background-color: #00808B;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}

.next_btn {
    max-width: 30em;
    width: 100%;
    margin-top: 10px;
}

.signupformdiv {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    max-width: 30em;
    width: 100%;
    margin: auto;
}

.formcontrol {
    max-width: 30em !important;
    width: 100% !important;
}

.form_input {
    width: 100% !important;
}

.signup_form {
    max-width: 30em !important;
    width: 100%;
    height: 28.5em;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.eye_div {
    position: relative;
}

.eye_icon {
    position: absolute;
    margin-top: 25px;
}

@media (max-width : 768px) {
    .text_div {
        flex-direction: column;
    }

    .create_account_text {
        font-size: 40px;

    }

    .signup_form {
        padding: 20px;
    }

    .back_btn_screen4 {
        margin-left: 0px;
    }
}