/* DynamicSlider.css */
.slider-container {
    /* width: 80%; */
    margin: auto;
}


.custom-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ddd;
    height: 300px !important;
    /* max-width: 99% !important; */
    /* margin: auto !important; */
    margin-left: 1px !important;
}

.custom-slide1 {
    background-color: transparent;
    /* height: 100% !important; */
    margin: auto !important;
    /* Custom background color for Slide 1 */
}

.custom-slide2 {
    background-color: #b3e0ff;
    /* Custom background color for Slide 2 */
}

.custom-slide3 {
    background-color: #c2f0c2;
    /* Custom background color for Slide 3 */
}


/* DynamicSlider.css */
.custom-arrow {
    width: 50px;
    height: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider_height {
    height: 100;
}

.slider_height {
    height: 200px !important;
}

.image_height {
    /* max-height: 150px !important;
    height: 140px;
    max-width: 110px !important; */
    height: 100% !important;
    /* width: 100% !important; */
}

.custom-prev {
    font-size: 30px;
    font-weight: 500;
    margin-right: 70px;
    margin-top: -20px !important;
}

.custom-next {
    font-size: 30px;
    font-weight: 500;
    margin-left: 70px;
    margin-top: -20px !important;
}

#avatar_div1 {
    position: relative !important;
    box-sizing: border-box !important;
    max-height: 150px !important;
    height: 150px;
    position: relative !important;
}

#checkmark {
    position: absolute !important;
    top: 10px !important;
    right: 15px !important;
}

.checkmark_img {
    height: 24px !important;
    width: 24px !important;
}


@media (max-width: 426px) {
    .custom-prev {
        /* Add styles for the previous arrow */
        font-size: 18px !important;
        margin-right: 10px;
    }

    .custom-next {
        /* Add styles for the next arrow */
        font-size: 18px !important;
        margin-left: 10px;
    }

    .image_height {
        height: 90px !important;
        width: 70px !important;
    }
}

@media (min-width: 427px) and (max-width: 1024px) {
    .custom-prev {
        /* Add styles for the previous arrow */
        font-size: 25px !important;
        margin-left: 10px;
    }

    .custom-next {
        /* Add styles for the next arrow */
        font-size: 25px !important;
        margin-right: 10px;
    }

    .image_height {
        height: 140px !important;
        width: 120px !important;
    }
}