.home-parent-container {
  max-width: 1200px;
  background: #000000;
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid grey;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.box-left {
  position: sticky;
  width: 25%;
  height: 50px;
  background-color: #ffffff;
}

.box-center {
  width: 50%;
  height: auto;
  background: #525356;
}

.box-right {
  position: sticky;
  width: 25%;
  height: 50px;
  background-color: #ffffff;
}
